apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  namespace: claudescale
  labels:
    app: grafana
    component: datasource
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        editable: true
        jsonData:
          timeInterval: 15s
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard-provider
  namespace: claudescale
  labels:
    app: grafana
    component: dashboard-provider
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'ClaudeScale'
        orgId: 1
        folder: 'ClaudeScale'
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards
